:root {
  --color-text-default: #262626;
  --color-text-subtle: #5a5a5a;
  --color-text-primary: #181d27;
  --color-text-secondary: #414651;
  --color-text-placeholder: #717680;
  --color-text-error: #d92d20;
  --color-text-disable: #717680;
  --color-text-brand-primary: #006b3b;
  --color-text-accent-green: #008047;
  --color-text-inverse: #ffffff;
  --color-bg-info: #ddf4ff;
  --color-bg-accent-gray-subtle: #ddf4ff;
  --color-bg-primary: #d5d7da;
  --color-bg-surface-primary: #ffffff;
  --color-bg-brand-primary: #cce6da;
  --color-fg-brand-primary: #006b3b;
  --color-bg-brand-secondary-solid: #84bd00;
  --color-bg-brand-primary-solid: #008047;
  --gradient-bg-solid-leading: var(--color-bg-brand-secondary-solid);
  --gradient-bg-solid-trailing: var(--color-bg-brand-primary-solid);
  --color-border-primary: #006b3b;
  --color-border-primary-brand: #d5d7da;
  --color-border-primary_bold: #d5d7da;
  --color-border-brand-primary-subtle: #55aa84;
  --color-gray-40: #d9d9d9;
  --color-gray-500: #939393;
  --color-blue-800: #033d8b;
  --color-icon-subtle: #5a5a5a;
  --color-line-100: #ECF2D7;
}
