.step-block {
  display: grid;
  gap: 14px;
}

.step-title {
  margin: 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-24);
  font-weight: 600;
}

.step-subtitle {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: var(--font-size-14);
}

.summary {
  border: 1px solid var(--color-border-disable-subtle);
  border-radius: 10px;
  background: var(--color-bg-surface-primary);
  padding: 18px;
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.summary h3 {
  font-size: var(--font-size-18);
  color: var(--color-text-brand-primary);
  font-weight: 600;
}

.service-list {
  display: grid;
  gap: 10px;
}

.service-item {
  border-bottom: 1px solid var(--color-border-disable-subtle);
  display: grid;
  gap: 8px;
}

.service-item:last-child {
  border-bottom: none;
}

.service-item__title {
  margin: 0;
  // color: var(--color-text-brand-primary);
  font-size: var(--font-size-14);
  font-weight: 600;
}

.service-item__grid {
  display: grid;
  gap: 8px 18px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.service-item__full {
  grid-column: 1 / -1;
}

.info-grid {
  align-items: start;
}

.info-item {
  display: grid;
  gap: 2px;
}

.info-label {
  margin: 0;
  color: var(--color-text-subtle);
  font-size: var(--font-size-14);
  font-weight: 400;
}

.info-value {
  margin: 0;
  color: var(--color-text-default);
  font-size: var(--font-size-16);
  font-weight: 500;
}

.agree-row {
  display: flex;
  // align-items: flex-start;
  gap: 8px;
  color: var(--color-text-default);
  background: var(--color-bg-surface-primary);
  font-size: var(--font-size-14);
  padding: 12px 20px;
  border-radius: 8px;
}

.agree-check-btn {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 auto;
}

.agree-row input {
  margin-top: 2px;
}

.agree-row input[type="checkbox"]:not([tuiSwitch]) {
  accent-color: var(--color-text-accent-green);
}

.unchecked-icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border-primary-brand);
  border-radius: 4px;
}

.error {
  margin: 0;
  color: var(--color-text-error);
  font-size: var(--font-size-14);
}

@media (max-width: 860px) {
  .service-item__grid {
    grid-template-columns: 1fr;
  }

  .service-item__full {
    grid-column: auto;
  }
}
